//layout
@mixin centerAlignFlex {
  display: flex;
  align-items: center;
}

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin grayImg {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

//height
$remainingHeight: calc(100vh - 80px);

//colors
$background: #ece8e1;
$primary: #0f1823;
$red: #ff4655;
$headerFont: Tungsten;
