@import "../../styles/variables";

.agentInfo {
  height: $remainingHeight;
  display: flex;
  position: relative;
}
.gridContainer {
  max-height: 600px;
  width: 100%;
  margin-top: auto;
  margin-bottom: calc(100vh * 0.1);
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // justify-items: center;
  display: flex;
  justify-content: center;
}

.imgWrap {
  max-height: 600px;
  // width: 100%;
  min-width: 560px;
  img {
    max-width: 660px;
    width: 100%;
    height: 100%;
  }
}

.infoWrap {
  width: 100%;
  max-width: 543px;
  display: flex;
  flex-direction: column;
  gap: 42px;

  &__header {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      background: $primary;
      padding: 5px;
    }

    h2 {
      width: 100%;
      text-align: center;
      font-size: 36px;
    }
  }

  &__agentDescription {
    padding: 10px;

    p {
      line-height: 1.5;
    }
  }
}
