@import "../../styles/variables";

.roleSelect {
  height: $remainingHeight;
  text-align: center;
  padding-top: 140px;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 140px;
  }
}
