@import "../../styles/variables";

.abilityButton {
  max-width: 96px;
  max-height: 96px;
  background: $background;
  border: 1px solid $primary;
  outline: none;
  padding: 10px;
  animation: leave 0.4s forwards;
  overflow: hidden;
  opacity: 50%;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    filter: brightness(0);
  }
}

.abilityButton:hover {
  img {
    filter: brightness(1);
  }
}

.active {
  opacity: 1;
}

.bg_slider {
  overflow: hidden;
}

.bg_slider:hover {
  animation: hover 0.4s forwards;
}

@keyframes hover {
  from {
    box-shadow: inset 0 0 0 0.01px $red;
    opacity: 50%;
  }
  to {
    box-shadow: inset 8.79928em 0 0 0.01px $red;
    opacity: 1;
  }
}

@keyframes leave {
  from {
    box-shadow: inset 8.79928em 0 0 0.01px $red;
  }
  to {
    box-shadow: inset 0 0 0 0.01px $red;
  }
}
