@import "../../styles/variables";

.agentButton {
  border: 1px solid $primary;
  outline: none;
  background: transparent;
  width: 130px;
  height: 130px;
  img {
    width: 100%;
    height: auto;
  }
}
