@import "../../styles/variables";

.agentButton {
  border: 1px solid $primary;
  outline: none;
  background: transparent;
  width: 130px;
  height: 130px;
  padding: 10px;
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
  }
}

.agentButton:hover,
.agentButtonSmall:hover {
  transform: scale(1.1);
}

.agentButtonSmall {
  border: 1px solid $primary;
  width: 70px;
  height: 70px;
  padding: 5px;
  background: transparent;
  cursor: pointer;
  // border: 1px solid $primary;
  outline: none;
  img {
    width: 100%;
    height: auto;
  }
}
