@import "../../styles/variables";

.button {
  border: none;
  outline: none;
  background: $primary;
  width: 177px;
  height: 177px;
  padding: 10px;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }
}

.smallButton {
  border: none;
  outline: none;
  background: $primary;
  width: 70px;
  height: 70px;
  padding: 10px;
  cursor: pointer;
  opacity: 50%;

  img {
    width: 100%;
    height: auto;
  }
}

.active {
  opacity: 1;
}

.button:hover,
.smallButton:hover {
  background: $red;
  opacity: 1;
}
