@import "../../styles/variables";

.header {
  width: 100%;
  height: 80px;
  background: $primary;
  padding: 0 40px;
  @include centerAlignFlex;

  h1 {
    cursor: pointer;
    font-family: $headerFont;
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
  }
}
